# Entorno virtual
retail-stream-env/
venv/
.env

# Python
__pycache__/
*.py[cod]

# Docker
.docker/
data/

# MLflow
mlruns/
mlflow.db

# VS Code
.vscode/

# Bases de datos SQLite
*.db
*.sqlite
*.sqlite3

#otros
apuntes.md